.img_product_item {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  border-radius: 0.5rem;
}
.img_product_item:hover {
  filter: brightness(0.8);
}
.img_product_item_delete{
  position: absolute;
  top: 8%;
  left: 61%;
  width: 10%;

}
.img_product_item_edit{
  position: absolute;
  top: 8%;
  left: 75%;
  width: 10%;
}

/* Mobile Phones */
@media screen and (max-width: 320px) {
  .img_product_item {
    width: 100%;
    height: 25vh;
  }
  .img_product_item_delete{
    position: absolute;
    top: 8%;
    left: 61%;
    
  
  }
  .img_product_item_edit{
    position: absolute;
    top: 8%;
    left: 75%;
  }
}

@media screen and (min-width: 321px) and (max-width: 780px) {
  .img_product_item {
    width: 100%;
    height: 40vw;
  }
  .img_product_item_delete{
    position: absolute;
    top: 8%;
    left: 61%;
  
  }
  .img_product_item_edit{
    position: absolute;
    top: 8%;
    left: 75%;
  }
}
