.header__logo {
  height: 3rem;
  width: auto;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
.header__logo__title {
  font-size: 1.6rem;
  padding-right: 0.25rem;
  font-weight: bold;
  color: var(--logo-title, #000000);
}
.header__logo__title-differential {
  color: var(--logo-title-differential, #000000);
}

/* Mobile Phones */
@media screen and (max-width: 780px) {
  .header__logo__title {
    font-size: 1.25rem;
  }
}

/* Tablets */
@media screen and (min-width: 781px) and (max-width: 1020px) {
  .header__logo__title {
    display: none;
  }
}
