.button_login {
  width: 11.375rem;
  height: 3rem;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  transition: 0.3s;
  border: 1px solid var(--azul-100, #2a7ae4);
  font-size: 1.25rem;
}
.button_login:hover {
  border: var(--azul-100, #2a7ae4);
  cursor: pointer;
}
/* Mobile Phones */
@media screen and (max-width: 780px) {
  .button_login {
    border: 1px solid var(--azul-100, #2a7ae4);
  }

  .button_login:hover {
    background-color: var(--white);
    color: var(--orange);
  }
}

/* Tablets */
@media screen and (min-width: 781px) and (max-width: 1020px) {
  .button_login {
    border: 1px solid var(--azul-100, #2a7ae4);
  }

  .button_login:hover {
    background-color: var(--white);
    color: var(--azul-100);
  }
}
